<h1>Gestión de Categorías</h1>

<!-- Formulario para agregar una nueva categoría -->
<div class="form-container">
  <h2>Agregar Nueva Categoría</h2>
  <form (ngSubmit)="agregarCategoria()" #catForm="ngForm">
    <div class="input-group">
      <label for="nombre">Nombre de la Categoría:</label>
      <input
        type="text"
        id="nombre"
        [(ngModel)]="nombre"
        name="nombre"
        required
        minlength="3"
        maxlength="50"
        placeholder="Escribe el nombre de la categoría"
      />
    </div>

    <div class="input-group">
      <label>Subcategorías:</label>
      <div *ngFor="let subcategoria of subcategoriasDisponibles">
        <input
          type="checkbox"
          [value]="subcategoria._id"
          (change)="toggleSubcategoria($event)"
        />
        {{ subcategoria.nombre }}
      </div>
    </div>

    <button class="enviar" type="submit" [disabled]="catForm.invalid">Guardar</button>
  </form>
</div>

<!-- Tabla para listar las categorías -->
<table class="styled-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Subcategorías</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <td>{{ categoria.nombre }}</td>
      <td>{{ obtenerNombresSubcategorias(categoria.subcategorias) }}</td>
      <td>{{ obtenerEstadoTexto(categoria.inactivo) }}</td>
      <td>
        <button (click)="inactivarCategoria(categoria._id)" [disabled]="categoria.inactivo">
          Inactivar
        </button>
        <button class="eliminar" (click)="eliminarCategoria(categoria._id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
